!!! Strict
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/js/slidernav.js"></script>
<link rel="stylesheet" href="/assets/style/slidernav.css" type="text/css" />
#slider
  .slider-content
    %ul
      {{#parts}}
      %li#{{group}}
        <a name="{{group}}" class="title">{{group}}</a>
        %ul
        {{#values}}
          %li
            %a{:href=>"/guide/{{id}}.html"}
              {{title}}
        {{/values}}
      {{/parts}}
<script type="text/javascript">
$(function() {
$('#slider').sliderNav({height:450});
});
</script>
