<h1> Guide to Agile Practices</h1>
<p>The Guide is our comprehensive list of Agile practices. You can <a href="/subway.html" class="map">view all practices</a> in a simple map format, or use the A to Z list on the right.</p>
<p>Each practice comes with a full description in a consistent format; it includes a succinct definition, expected benefits and common mistakes, origins and history of the practice, and links to academic studies where they exist providing evidence of the practice's impacts in practice.</p>
<p>Where applicable the Guide describes the competencies which distinguish a novice from a skilled practitioner.</p>
<p>The Guide is also available "on the go": as a bookmarklet which allows you to call up glossary definitions for Agile terms when visiting any Web site; or as a tool for blog or Web site owners to use this glossary on their own site, merely by including one line of Javascript.</p>
<p>The Guide also has its "social" aspect, as the venue where the community of Agile practitioners gathers to collect information on Agile practices, evidence of their benefits or shortcomings, and further resources on the Web.</p>