<div id="main">
  <h1> Guide to Agile Practices</h1> 
  <p>The Guide is our comprehensive list of Agile practices. You can use the A to Z list on the right or the <a href="/subway.html">map</a> to navigate.</p>
  <p>Each practice comes with a full description in a consistent format; it includes a succinct definition, expected benefits and common mistakes, origins and history of the practice, and links to academic studies where they exist providing evidence of the practice's impacts in practice.</p>
  <p>Where applicable the Guide describes the competencies which distinguish a novice from a skilled practitioner.</p>
  <p>The Guide also has its "social" aspect, as the venue where the community of Agile practitioners gathers to collect information on Agile practices, evidence of their benefits or shortcomings, and further resources on the Web.</p>
  <p>The Guide is a <strong>work-in-progress</strong>, you can track progress toward completion <a href="/dash.html">here</a>.</p>
  <br/>
  <h1>Help us improve the Guide!</h1> 
  <p>We value your feedback, either on the Guide as a whole (please use the comments thread below) or on specific practices (each page has a comment thread of its own). Whether you want to correct factual elements, suggest clearer wording, provide additional information... We're listening!</p>
</div>