<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Guide to Agile Practices</title>
<link rel="stylesheet" href="/assets/style/screen.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/assets/style/print.css" type="text/css" media="print"/>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/assets/style/ie.css" media="screen" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/assets/style/ie8.css" media="screen" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="/assets/style/ie7.css" media="screen" />
<![endif]-->
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="/assets/style/ie6.css" media="screen" />
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
</head>
<body id="subpage">
<div id="page">
  <div id="wrapper">

  <div id="header">
    <a href="/" alt="Agile Alliance"><img id="logo" src="http://agilealliance.org/themes/aga1/images/logo.gif" width="106" height="95" border="0" /></a>
    <div id="headernav">			
      <ul id="prinav">
        <li class="nav-path-selected" id="nav1"><a class="nav-path-selected" href="http://agilealliance.org/">Home</a></li>
      <li id="nav2"><a href="http://agilealliance.org/the-alliance/">The Alliance</a></li>
      <li id="nav3"><a href="http://agilealliance.org/events/">Events</a></li>
      <li id="nav4"><a href="http://agilealliance.org/resources/">Resources</a></li>
      <li id="nav5"><a href="http://agilealliance.org/community-groups/">Community Groups</a></li>
    </ul>
      <ul id="suppnav">
        <li><a href="http://agilealliance.org/news/">News</a></li>
        <li class="nav-selected nav-path-selected"><a class="nav-selected nav-path-selected" href="http://agilealliance.org/programs/">Programs</a></li>
        <li><a href="http://agilealliance.org/membership/">Membership</a></li>
        <li><a href="http://agilealliance.org/sponsorship/">Sponsorship</a></li>
      </ul>
    </div><!-- end #headernav -->
    <div id="utility">
      <a href="https://cf.agilealliance.org/membership/login.cfm" class="popup left">Member Login</a><span class="separator">|</span><a href="https://cf.agilealliance.org/sponsorship/login.cfm" class="popup right">Sponsor Login</a>
      </div>
    </div>

    <div id="central">
      <div id="sidebar">
        <h2>Guide to Agile Practices</h2>
        <ul class="nav">
          <li>The Map</li>
          <li>Guide on the Go</li>
        </ul>
        <div id="sliderlist"></div>
        <div class="callout">
          <h1 style="text-align: center;"><span style="color: #5c95b6;"><a href="http://agileindia2012.agilealliance.org" target="_blank">AgileIndia2012</a></span></h1><p><span style="color: #5c95b6;"><br /></span></p>
<h3 class="intro" style="text-align: center;"><span style="color: black;">Bangalore, India</span></h3><h3 class="intro" style="text-align: center;"><span style="color: black;"> Coming in February, 2012</span></h3>
<p class="intro"><span style="font-size: small;"><span style="font-size: 13px; font-weight: normal;"><br /></span></span></p><p><span style="font-size: small;"><span style="font-size: 13px; font-weight: normal;"><br /></span></span></p>
        </div> 
      </div>		

      <div id="main">	
        <%= yield %>
      </div>		
    </div>		

    <div id="footer">
      <div id="footerbar">
        <p>&copy; 2011 Agile Alliance and Institut Agile. All rights reserved.</p>
          <ul>
            <li class="first"><a href="/site-map/">Site Map</a></li>
            <li><a href="/site-search/">Site Search</a></li>
            <li><a href="/contact-us/">Contact Us</a></li>
          </ul>
      </div>
      <div id="sponsors">
        <iframe frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="920px" height="71px" src="http://cf.agilealliance.org/sponsorship/logos.cfm"></iframe>
        <p>These companies are proud supporters of the Agile Alliance. <a href="http://www.agilealliance.org/sponsorship/">Learn more about the benefits of sponsorship &raquo;</a></p>
      </div>
    </div><!-- end #footer -->

  </div><!-- end #page -->
</div><!-- end #wrapper -->
<script type="text/javascript">
        $(function() {
          $("#sliderlist").load("/alpha.html");
        });
</script>
</body>
</html>