<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Guide to Agile Practices</title>
<link rel="stylesheet" href="/assets/style/reset.css" type="text/css" />
<link rel="stylesheet" href="/assets/style/style.css" type="text/css" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="/assets/style/ie6.css" type="text/css" />
<![endif]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/global.js" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
	<div id="page_header">
		<div class="content">
			<div class="col">
				<div id="logo">
					<h1>G.A.P.</h1>
				</div>
			</div>
			<div class="col">
				<div id="navigation">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="about.html">About</a></li>
					</ul>
				</div>
			</div>
			<div class="tracker">
				<p><a href="index.html">Home</a> &nbsp;&gt;&nbsp; <a href="#">Practices</a></p>
			</div>
		</div>
	</div>
	<div id="main">
		<div class="content">
                        <%= yield %>
	</div>
	<div id="sidebar">
		<div id="sidebar_header">
			<div class="left">
				<div id="search">
					<form name="search" action="">
						<input id="search_box" name="query" onfocus="searchFocus();" value="" type="text" />
					</form>
				</div>
			</div>
			<div class="right"> <img src="/assets/images/feed_icon.gif" alt="RSS Feed" /> </div>
		</div>
		<div class="content">
			<div class="box">
				<div class="box_header">
					<h3>Practices</h3>
				</div>
				<ul>
					<li><a href="#">Map</a></li>
					<li><a href="#" onClick="$('#sliderlist').toggle('fast')">A to Z</a></li>
				</ul>
				<div id="sliderlist" style="width:200px; height: 560px; display: none"></div>
			</div>
			<div class="box">
				<div class="box_header">
					<h3>Sections</h3>
				</div>
				<ul>
					<li><a href="#">Name</a></li>
					<li><a href="#desc">Description</a></li>
					<li><a href="#syno">Synonyms</a></li>
					<li><a href="#abus">Pitfalls</a></li>
					<li><a href="#benefits">Benefits</a></li>
					<li><a href="#costs">Costs</a></li>
					<li><a href="#progression">Skill levels</a></li>
					<li><a href="#histo">History</a></li>
					<li><a href="#resources">Resources</a></li>
					<li><a href="#research">Research</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="content"><p>© Copyright 2011 Institut Agile</p></div>
	</div>
</div>
<script type="text/javascript">
        $(function() {
          $("#sliderlist").load("/alpha.html");
        });
</script>
</body>
</html>
