			<div class="box">
				<div class="box_header">
					<h3>Sections</h3>
				</div>
				<ul>
					<li><a href="#">Name</a></li>
					<li><a href="#desc">Description</a></li>
					<li><a href="#syno">Synonyms</a></li>
					<li><a href="#abus">Pitfalls</a></li>
					<li><a href="#benefits">Benefits</a></li>
					<li><a href="#costs">Costs</a></li>
					<li><a href="#progression">Skill levels</a></li>
					<li><a href="#histo">History</a></li>
					<li><a href="#resources">Resources</a></li>
					<li><a href="#research">Research</a></li>
				</ul>
			</div>
