			<div class="box">
				<div class="box_header">
					<h3>Sections</h3>
				</div>
				<ul>
					<li><a href="#">Name</a></li>
					<li><a href="#">Description</a></li>
					<li><a href="#">Synonyms</a></li>
					<li><a href="#">Pitfalls</a></li>
					<li><a href="#">Benefits</a></li>
					<li><a href="#">Costs</a></li>
					<li><a href="#">Skill levels</a></li>
					<li><a href="#">History</a></li>
					<li><a href="#">Resources</a></li>
					<li><a href="#">Research</a></li>
				</ul>
			</div>
