<div id="main" style="width:900px;background:none; padding:0 0 0 0; margin: 0 0 0 0;">
<div style="font-family: Verdana;font-size: 8pt;background-image:url(/assets/images/subway.png);background-repeat:no-repeat;background-position: left top; width:900px; height:550px;padding:0 0 0 0; margin: 10px 0 0 -36px;">
<style>a{text-decoration:none;}</style>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:308px;left:32px">
    <a href="/guide/sustainable.html">Sustainable Pace</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:96px">
    <a href="/guide/pairing.html">Pair Programming</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:296px;left:160px">
    <a href="/guide/volunteer.html">Sign up</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:224px">
    <a href="/guide/daily.html">Daily meeting</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:296px;left:288px">
    <a href="/guide/iteration.html">Iterations</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:360px">
    <a href="/guide/velocity.html">Velocity</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:416px">
    <a href="/guide/smallrelease.html">Frequent releases</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:296px;left:480px">
    <a href="/guide/stories.html">User stories</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:544px">
    <a href="/guide/cco.html">Collective Ownership</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:296px;left:608px">
    <a href="/guide/ci.html">Continuous Integration</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:320px;left:672px">
    <a href="/guide/yagni.html">Simple design</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:296px;left:736px">
    <a href="/guide/refactoring.html">Refactoring</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:308px;left:810px">
    <a href="/guide/tdd.html">TDD</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:372px;left:32px">
    <a href="/guide/charter.html">Project charters</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:244px;left:64px">
    <a href="/guide/scrumofscrums.html">Scrum of Scrums</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:276px;left:96px">
    <a href="/guide/nikoniko.html">Niko-niko</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:384px;left:96px">
    <a href="/guide/teamroom.html">Team room</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:416px;left:160px">
    <a href="/guide/heartbeatretro.html">Heartbeat retrospective</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:392px;left:224px">
    <a href="/guide/facilitation.html">Facilitation</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:468px;left:256px">
    <a href="/guide/team.html">Team</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:96px;left:96px">
    <a href="/guide/leadtime.html">Lead time</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:64px;left:160px">
    <a href="/guide/kanban.html">Kanban board</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:480px;left:320px">
    <a href="/guide/iterative.html">Iterative development</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:372px;left:330px">
    <a href="/guide/timebox.html">Timebox</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:244px;left:200px">
    <a href="/guide/threeqs.html">Three Questions</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:180px;left:200px">
    <a href="/guide/burndown.html">Burndown chart</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:116px;left:200px">
    <a href="/guide/taskboard.html">Task board</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:40px;left:224px">
    <a href="/guide/sashimi.html">Definition of Done</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:64px;left:288px">
    <a href="/guide/ready.html">Definition of Ready</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:40px;left:352px">
    <a href="/guide/nuts.html">Point estimates</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:64px;left:416px">
    <a href="/guide/relative.html">Relative estimation</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:40px;left:480px">
    <a href="/guide/poker.html">Planning poker</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:64px;left:544px">
    <a href="/guide/backlog.html">Backlog</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:128px;left:576px">
    <a href="/guide/grooming.html">Backlog grooming</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:192px;left:576px">
    <a href="/guide/personas.html">Personas</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:224px;left:512px">
    <a href="/guide/storymap.html">Story mapping</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:256px;left:480px">
    <a href="/guide/split.html">Story splitting</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:384px;left:480px">
    <a href="/guide/3C.html">3 C's</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:416px;left:416px">
    <a href="/guide/invest.html">INVEST</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:456px;left:384px">
    <a href="/guide/incremental.html">Incremental development</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:256px;left:576px">
    <a href="/guide/cd.html">Continuous deployment</a>
</span>
  <span class="text" style="width:100px;text-align: right; margin:0 12px 0 -112px;position:absolute;top:404px;left:628px">
    <a href="/guide/autobuild.html">Automated build</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:480px;left:608px">
    <a href="/guide/versioncontrol.html">Version control</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:182px;left:648px">
    <a href="/guide/ubiquitous.html">Ubiquitous language</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:384px;left:736px">
    <a href="/guide/simplicity.html">Rules of simplicity</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:436px;left:684px">
    <a href="/guide/quickdesign.html">Quick design session</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:512px;left:672px">
    <a href="/guide/crc.html">CRC cards</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:96px;left:640px">
    <a href="/guide/rolefeature.html">Role-Feature</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin: 0 0 12px -50px;position:absolute;top:72px;left:704px">
    <a href="/guide/gwt.html">Given-When-Then</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:96px;left:768px">
    <a href="/guide/bdd.html">BDD</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:116px;left:810px">
    <a href="/guide/atdd.html">ATDD</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:180px;left:810px">
    <a href="/guide/acceptance.html">Acceptance tests</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:244px;left:810px">
    <a href="/guide/mocks.html">Mock objects</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:372px;left:810px">
    <a href="/guide/unittest.html">Unit tests</a>
</span>
  <span class="text" style="width:100px;text-align: left; margin:0 0 0 12px;position:absolute;top:436px;left:810px">
    <a href="/guide/exploratory.html">Exploratory testing</a>
</span>
  <span class="text" style="width:100px;text-align: center; margin:12px 0 0 -50px;position:absolute;top:512px;left:800px">
    <a href="/guide/usability.html">Usability testing</a>
</span>
</div>

<div id="legend">
Lines represent practices from the various Agile "tribes" or areas of concern:
<p/>
<div style="float:left; width:33%">
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#ff4db2"></span>Extreme Programming</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#feef00"></span>Teams</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#ff8827"></span>Lean</div>
</div>
<div style="float:left; width:33%">
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#d82d3a"></span>Scrum</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#feaf6f"></span>Product management</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#009c60"></span>Devops</div>
</div>
<div style="float:left; width:33%">
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#4d0360"></span>Design</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#034d60"></span>Testing</div>
<div><span style="margin-right:10px;float:left;width:100px;height:8px;background-color:#e4e4e4"></span>Fundamentals</div>
</div>
</div>

<br/>

<a href="/">Back to the Guide's home page</a>
</div>
