/* RESET
------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* I use collapse, instead of separate, so 'cellspacing="0"' is not necessary  -Abby */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
table, tbody, tfoot, thead, tr, th, td {
	vertical-align: middle;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* LAYOUT
------------------------------- */

body {
	color:#565656;
	font-size: 12px;
	font-family: Arial, sans-serif;
	line-height:1.4em;
	padding-bottom:40px;
}

#page {
	width:100%;
	background:#035f6e url(http://agilealliance.org/themes/aga1/images/bg_body.gif) no-repeat center top;
}
#wrapper {
	width:960px;
	margin:auto;
	text-align:left;
}
#header {
	position:relative;
	height:128px;
	background:transparent url(http://agilealliance.org/themes/aga1/images/bg_header.gif) no-repeat center top;
	width:100%;
	overflow:hidden;
}
#home #header {
	background:transparent url(http://agilealliance.org/themes/aga1/images/bg_header_home.gif) no-repeat center top;
}
#central {
	background:#fff url(http://agilealliance.org/themes/aga1/images/bg_central.gif) repeat-y center top;
	overflow: auto;
	width:920px;
/*	padding:0 20px 0px;*/
	border-bottom:20px solid #fff;
	position:relative;
}
#home #central {
	background:#fff url(http://agilealliance.org/themes/aga1/images/bg_central_home.gif) no-repeat center top;
	min-height:314px;
}
#sidebar {
	width:218px;
	float:left;
	padding:56px 0 40px;
	background:#53A2CC url(http://agilealliance.org/themes/aga1/images/bg_sidebar.gif) no-repeat left top;
}
#home #rightbar {
	float:right;
	width:364px;
}
#sidebarnav {
}
#main {
	width:642px;
	float:right;
	padding:56px 20px 40px;
	background:#FFF url(http://agilealliance.org/themes/aga1/images/bg_main.jpg) no-repeat left top;
}
#home #main {
	width:920px;
	padding:23px 0 0;
	background:none;
}
#footer {
	width:100%;
	clear:both;
	overflow:hidden;
	background:#fff;
	margin-top:4px;
}

/* HEADER CONTENT
------------------------------- */

#logo {
	height:95px;
	float:left;
}
#headernav {
	float:left;
	padding-left:42px;
	padding-top:46px;
}
#header ul li {
	display:inline;
}
#header ul li a {
	text-decoration: none;
}
#header ul li a:hover {
	text-decoration: underline;
}
#headernav #prinav {
	margin-bottom:7px;	
}
#headernav #prinav li {
	font-size:16px;
	padding-right:1em;	
}
#headernav #prinav li a {
	color:#D7F1F5;	
}
#headernav #suppnav li {
	font-size:12px;
	padding-right:1em;
	text-transform: uppercase;	
}
#headernav #suppnav li a {
	color:#b3e3ea;	
}
#headernav ul li a.nav-path-selected {
	color:#FFF !important;
	font-weight:bold;
}
div#utility  {
	width:180px;
	float:right;
	padding:80px 20px 0;
	font-size:10px;
	font-family: "Trebuchet MS", Trebuchet, sans-serif;
	text-transform: uppercase;
	color:#53A2CC;
	line-height:1.5em;
	text-align:center;
}
#utility a {
	display:inline-block;
	color:#53A2CC;
	text-decoration:none;
	letter-spacing: .01em;
}
#utility a:hover {
	text-decoration:underline;
}
#utility .separator {
	display:inline-block;
	margin:0 5px;
	font-size:1.2em;
}

/* MAIN CONTENT
------------------------------- */

#main a {
	color: #5C95B6;
}
#main .breadcrumb {
	font-size:10px;
	font-weight:bold;
	color:#a5a5a5;
	height:14px;
}
#main .breadcrumb a {
	font-weight:normal;
	color:#a5a5a5;
}
#main .breadcrumb .ccm-autonav-breadcrumb-sep {
	font-weight:normal;
	color:#a5a5a5;
}
#main h1 {
	font-family: Helvetica, Arial, sans-serif;	
	font-size:22px;
	color:#A1B753;
	line-height:24px;
	margin:0 0 .25em;
	font-weight:normal;
}
#main h1 span {
	display:block;	
	font-size:14px;
}
#subpage #main  h2 {		
	font-size: 14px;
	margin:1em 0 .25em;
	line-height:1.1em;
	color:#035F6E;
	font-weight: bold;
}
#main h2 span {	
	font-size:13px;
}
h2#training,
h2#non-commercial {
	margin-top:2em;
}
#main h3 {	
	font-size:14px;
	margin:1em 0 .25em;
	line-height:1.1em;
	font-weight:normal;
}
#main h4 {
	margin:1em 0 .25em;
	line-height:1.1em;
	font-weight:normal;
	text-transform: uppercase;
	font-size:11px;
}
#main h4#hosted {
	margin:3em 0;
}
#main h5 {
	margin:1em 0 .25em;
	line-height:1.1em;
	font-weight:bold;
	font-size:11px;
	color:#505153;
}
#main p {
	margin-bottom:.75em;
	line-height:1.4em;
}
#main p.intro {
	font-size:14px;
	line-height:1.5em;
	margin-bottom:.75em;
}
#home #main p.intro {
	color:#4a8cc6;
}
#main p.contact_block {
	margin:1.2em 0;
}
#main .image_left {
	border:4px solid #e0e0e0;
	float:left;
	margin:.35em 1em 1em 0;
	clear:left;
	max-width: 320px;
}
#main .image_right {
	border:4px solid #e0e0e0;
	float:right;
	margin:.35em 0 1em 1em;
	clear:right;
	max-width: 320px;
}
#main .image_center {
	border:4px solid #e0e0e0;
	display:block;
	margin:.35em auto 1em;
	clear:both;
	max-width: 634px;
}
#main ul {
	margin:1.25em 0 1.75em 0;
	padding:0;
	line-height:1.4em;
}
#main ul ul {
	font-size:1em;
	line-height:1.4em;
}
#main ul li {
	padding-left:1.5em;
	background:url(http://agilealliance.org/themes/aga1/images/bullet_lg.gif) .25em .4em no-repeat;
	margin-bottom:.25em;
}
#main ul ul li {
	padding-left:1.5em;
	background:url(http://agilealliance.org/themes/aga1/images/bullet_lg.gif) .25em .4em no-repeat;
}
#main ol {
	margin:1.25em 0 1.75em 1.5em;
	padding:0;
	line-height:1.4em;
	list-style: decimal;
}
#main ol li {
	margin:0 0 .25em 0;
	list-style: decimal;
}
#main .sitemap li {
	font-size:16px;
	line-height:1.5em;
	background:none;
	padding-left:0;
}
#main .sitemap li.nav-path-selected {
	margin-bottom:1em;
}
#main .sitemap li li {
	font-size:13px;
	padding-left:1em;
}
#main .sitemap li li li {
	font-size:11px;
}
#main #home_slides {
	width:222px;
	float:right;
	margin:0 0 2em 2em;
	border:4px solid #e0e0e0;
}
#subpage #main blockquote {
	background:#B5CA6C;
	color: #fff;
	padding:10px 20px 20px;
	margin:2em auto;
	width:75%;
	text-align:center;
}
#subpage #main blockquote a {
	color: #fff;
}
#subpage #main blockquote p {
	color: #fff;
	margin:0;
	padding-top:10px;	
}
#subpage #main table {
	width:100%;
	margin:1em 0 2em;
}
#subpage #main table th {
	font-weight:bold;
	font-size:.9em;
	padding:5px 0 5px 0;
	text-transform:uppercase;
	border-bottom:1px solid #035F6E;
}
#subpage #main table td {
	font-size:.9em;
	padding:5px 0 5px 0;
	border-bottom:1px solid #D6F1F5;
}
#subpage #main table.formBlockSurveyTable {
	width:100%;
	margin:2em 0;
	border-top:1px solid #D6F1F5;
}
#subpage #main table.formBlockSurveyTable th {
	font-weight:bold;
	font-size:.9em;
	color:#26404c;
	padding:5px;
	text-align:left;
	text-transform:uppercase;
	border-bottom:1px solid #D6F1F5;
}
#subpage #main table.formBlockSurveyTable td {
	font-size:.9em;
	padding:5px;
	text-align:left;
	border-bottom:1px solid #D6F1F5;
}
p.fineprint {
	font-size:10px !important;
	line-height:1.2em !important;
}
#main p.fineprint {
	margin:.5em 0 !important;
}
a.learnmore {
	font-size:.92em;
	font-weight: bold;
}
.ccm-pagination {
	margin-top:2em;
	border-top:1px solid #D6F1F5;
	padding-top:1em;
}
.ccm-page-left,
.ccm-page-right {
	padding-top:1em;
}
.rssIcon {
	display:none;
}
abbr {			
	letter-spacing:0.1em;
	font-size:.95em;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  margin: 2em 0;
  height: 0;
}

/* Button Styles */
a.button {
	display:inline-block;
	margin:0 1em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	-o-box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	padding:8px 10px;
	text-decoration: none;
	background:#A1B753;
	color:#FFF !important;
	font-size:14px;
	text-align:center;
	border-radius:24px;
	-o-border-radius:24px;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	line-height:1.1em;
}
a.button:hover {
	background:#B5CA6C;
}
a.standalone {
	display:block;
	margin:0 auto 1.5em;
	width:300px;
}
.buttonwrap {
	margin:2em auto !important;
	text-align: center;
}

/* HOME CONTENT
------------------------------- */

#masthead h2 {
	font-family: Trebuchet, 'Trebuchet MS', Arial, sans-serif;
	text-transform:uppercase;
	font-size:22px;
	margin-bottom:.7em;
}
#masthead {
	color:#fff;
	width:920px;
	overflow:hidden;
}
#masthead a {
	color:#fff;
	font-weight:bold;
}
#masthead p {
	margin-top:.75em;
}
#masthead h1 {
	display:none;
}
#banner {
	float:left;
	width:315px;
	height:149px;
	background: transparent url(http://agilealliance.org/themes/aga1/images/bg_home_photo.jpg) left top no-repeat;
	padding:85px 217px 40px 20px;
	overflow:hidden;
}
p#photocredit {
	position:absolute;
	top:247px;
	left:40px;
	font-size:8px;
	text-transform:uppercase;
	font-weight:bold;
	font-family: Trebuchet, 'Trebuchet MS', Arial, sans-serif;
	color:#C6CC9E;
	letter-spacing:1px;
}
#manifesto, #join {
	float:left;
	margin-left:4px;
	width:140px;
	height:125px;
	text-align:center;
	padding:35px 20px 20px;
}
#ad_space {
	float:right;
	width:364px;
	height:90px;
	margin-top:4px;
}
#home #main h2 {
	font-family: Trebuchet, 'Trebuchet MS', Arial, sans-serif;
	text-transform:uppercase;
	font-size:18px;
	margin-bottom:.7em;
	position:relative;
}
#home #main h2 span {
	font-family: Arial, sans-serif;
	text-transform:none;
	position:absolute;
	right:0;
	bottom:-2px;
	width:200px;
	text-align:right;
}
#home #main h3 {
	font-weight:bold;
}
#home #main #intro {
	width:515px;
	float:left;
	clear:left;
}
#home #main #intro {
	color:#035F6E;
}
#home #main #intro p.intro {
	color:#035F6E;
}
#home #main #intro a {
	color:#035F6E;
}
#home #main .rightbarbox {
	color:#53A2CC;
	padding-bottom:30px;
}
#home #main .rightbarbox a {
	color:#53A2CC;
}
#home #main #training, {
	padding-bottom:0;
}

/* SIDEBAR CONTENT
------------------------------- */

#sidebar {
	font-size:12px;
	color:#D6F1F5;
}
#sidebar a {
	color:#D6F1F5;
}
#sidebar a:hover {
	color:#FFF;	
}
#sidebar h2 {
	font-size: 16px;
	color:#D6F1F5;
	padding:0 20px;
	margin-bottom:14px;
	line-height:24px;
}
#sidebar h2 a {
	text-decoration:none;
}
#sidebar ul a {
	text-decoration:none;
}
#sidebar ul a:hover {
	color:#FFF;	
}
#sidebar ul a.nav-selected {
	color:#FFF;	
	font-weight:bold;
}
#sidebar ul a.nav-path-selected {
	color:#FFF;	
}
#sidebar > ul li {
	margin:0;
	padding:8px 20px;
	line-height:1.1em;
}
#sidebar li.nav-path-selected {
	color:#4a8cc6;
	background:#5C95B6;
}
#sidebar li.nav-path-selected ul {
	padding-top:8px;
}
#sidebar ul li li {
	font-size:11px;
	margin:0 0 4px 1em;
	line-height:1.2em;
	padding:2px 0 0 0;
}
#sidebar ul li li.nav-path-selected {
	padding:2px 0 0 0;
	border:none;
}
#sidebar .callout {
	padding:.4em 20px .4em 0;
	margin-left:20px;
	width:178px;
	border-top:2px solid #D6F1F5;
	border-bottom:2px solid #D6F1F5;
	margin-top:150px;
}
#sidebar .callout p {
	margin:.4em 0;
}
#sidebar p.fineprint {
	margin:1em 20px;
}

/* FORMS CONTENT
------------------------------- */

/* Forms */

.miniSurveyView input.type_text,
.miniSurveyView input.type_password,
.miniSurveyView input.type_file {
	width:250px;
}
.miniSurveyView input.type_button,
.miniSurveyView input.type_submit,
.miniSurveyView input.type_reset {
	width:100px;
}
.miniSurveyView input.type_radio {
}
.miniSurveyView input.type_checkbox {
}
.miniSurveyView td.question {
	white-space: nowrap;
}
.miniSurveyView span.required {
	color:#A1B753;
}

/* VIDEO CONTENT
------------------------------- */

.previews {
	width:650px;
	overflow:hidden;
	margin:0 -7px;
}
.video {
	width:200px;
	display:inline-block;
	vertical-align: text-top;
	margin:0 7px 28px;
}
.edit_mode .video {
	margin:0 3px 28px;
}
.video .thumbnail {
	width:200px;
	background:#A1B753;
	display:block;
	text-transform: uppercase;
	margin-bottom:1em;
}
.video .title {
	display:block;
	text-transform: uppercase;
	font-size:11px;
}
.video .description {
	display:block;
	font-size:11px;
}
#subpage #main .previews h2 {
	clear:both;
	display:block;
	width:100%;
	margin:1em 7px;
}


/* FOOTER CONTENT
------------------------------- */

#footer {
	font-size:11px;
	color:#8CA8B8;
}
#footer a {
	color:#8CA8B8;
	text-decoration:underline;
}
#footer a:hover {
	color:#464749;
	text-decoration:underline;
}
#footerbar {
	background:#E8F2F3;
	padding:10px 20px;
	width:920px;
	overflow:hidden;
	margin-bottom:20px;
}
#footerbar ul {
	text-align:right;
	float:right;
}
#footerbar ul li {
	display:inline;
	padding:0 8px;
}
#footerbar ul li.first {
	padding-left:0;
}
#footerbar ul li.last {
	padding-right:0;
	border:none;
}
#footerbar p {
	float:left;
	text-align:right;
}
#sponsors {
	text-align:center;
	padding-bottom:17px;
}
#sponsors p {
	margin-top:12px;
}